<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin
            filename="libgz-sim-joint-state-publisher-system.so"
            name="gz::sim::systems::JointStatePublisher">
            <joint_name>left_front_wheel_joint</joint_name>
            <joint_name>left_back_wheel_joint</joint_name>
            <joint_name>right_front_wheel_joint</joint_name>
            <joint_name>right_back_wheel_joint</joint_name>
            <update_rate>50</update_rate>
        </plugin>

        <plugin
            filename="libgz-sim-diff-drive-system.so"
            name="gz::sim::systems::DiffDrive">
            <left_joint>left_front_wheel_joint</left_joint>
            <left_joint>left_back_wheel_joint</left_joint>
            <right_joint>right_front_wheel_joint</right_joint>
            <right_joint>right_back_wheel_joint</right_joint>
            <wheel_separation>0.6</wheel_separation>
            <wheel_radius>0.035</wheel_radius>
            <odom_publish_frequency>30</odom_publish_frequency>
            <topic>/cmd_vel</topic>
        </plugin>
    </gazebo>
    
</robot>